/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/open-sans-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v20-latin-300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/open-sans-v20-latin-300.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/open-sans-v20-latin-300.woff") format("woff"), /* Modern Browsers */ url("../fonts/open-sans-v20-latin-300.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/open-sans-v20-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v20-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/open-sans-v20-latin-regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/open-sans-v20-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */  url("../fonts/open-sans-v20-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v20-latin-600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/open-sans-v20-latin-600.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/open-sans-v20-latin-600.woff") format("woff"), /* Modern Browsers */ url("../fonts/open-sans-v20-latin-600.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/open-sans-v20-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v26-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v26-latin-italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/open-sans-v26-latin-italic.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/open-sans-v26-latin-italic.woff") format("woff"), /* Modern Browsers */ url("../fonts/open-sans-v26-latin-italic.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/open-sans-v26-latin-italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v26-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v26-latin-600italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/open-sans-v26-latin-600italic.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/open-sans-v26-latin-600italic.woff") format("woff"), /* Modern Browsers */ url("../fonts/open-sans-v26-latin-600italic.ttf") format("truetype"), /* Safari, Android, iOS */ url("../fonts/open-sans-v26-latin-600italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  max-width:100vw;
}

section, artice, div, img{
  max-width:100vw;

}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font: 400 15px/1.5 $afv-font-family;
}

@media (min-width: 1400px) and (min-height: 1000px) {
  html {
    font: 400 18px/1.5 $afv-font-family;
  }
}

@media (min-width: 1800px) {
  html {
    font: 400 22px/1.5 $afv-font-family;
  }
}

body {
  background-color:white;

}

/* Header */
header {
  position: fixed;
  z-index: 90000000;
  width:100vw;
  background-color: white;
  font-family: "Open Sans";


  nav {
    width:90vw;
    margin: $afv-margin-auto;
  
    a div {
      display: flex;
      align-items: center;
      float: left;
      height: 4.4rem;

      img {
        height: 45%;

        &:hover {
          opacity: .7;
        }
      }
    }

    ul {
      float: right;

      li {
        display: inline-block;
        margin: 0 18px;
        line-height: 4.4rem;
        text-transform: uppercase;
      }
        a {
          color: $afv-lightness-2;
          color:rgba(48, 69, 92, 0.8);
          font-family: "Open Sans";

        
          &:hover{
            color: #d35064;

          }
    
        }
    }

    /* Menú responsive */
    button {
      display: none;
      cursor: pointer;
      background-color: transparent;
      border: none;

      span {
        display: block;
        width: 28px;
        height: 4px;
        margin: 5px auto;
        background-color: black;
        border-radius: 1px;
      }

      /* Animaciones menú responsive */
      .br-1.animation {
        transition: $afv-transition;
        transform: rotate(-45deg) translate(-5px, 7.8px);
      }
      
      .br-2.animation {
        opacity: 0; 
      }
      
      .br-3.animation {
        transition: $afv-transition;
        transform: rotate(45deg) translate(-5px, -7.8px);
      }
    }
  }
}

/* Media queries header*/
@media (max-width: $afv-media-tablet) {

  header nav {
        width:90vw;

        a div img {
          height: 52%;
        }
      
        ul {
          position: fixed;
          top: $afv-header-height;
          left: -100%;
          width: 100%;
          height: auto; 

          &.show {
            left: 0;
            background-color: white;
          }
  
          li {
            display: block;
            padding-bottom: 20px;
            margin: 26px 0;
            line-height: 2rem;
            text-align: center;

            &:last-child {
              margin-bottom:12px;
              border:none;
            }
        
            a {
              font-size: 1.1rem;
              opacity: 1; 
              color: rgba(48, 69, 92, 0.8);
            }
          }
        }
    
        /* Menú responsive */
        button {
          display: block;
          float:right;
          height: $afv-header-height;
          margin: auto;
        }
  }
}

@media (max-width: $afv-media-phone) {
  header nav ul li {

    &:first-child {
      margin-top: 48px;
    }

      a {
        font-size: 1.05rem;
      }
  }
}

//Animations
nav {
  animation-duration: 2s;
  animation-name: opacity;
}

@keyframes opacity {
  from {
    opacity:0;
  }

  to {
    opacity: 1;
  }
}

/* Atarashi photo members*/
.atarashi-members-left {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.atarashi-members-left > img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

/* Contact form */
form {
  width: 80%;
  padding-top: 16.5vh;
  margin: 0 auto;
}

.form-fields {
  position: relative;
  left: 50vw;
  z-index: 1;
  width: 50vw;
  min-height: 91.4vh;
}

.form-fields form {
  position: relative;
  left: 0;
  width: 40vw;
  height: auto;
  margin-left: auto;
}

.form-fields form .form-control {
  position: relative;
  padding: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 10px;
  border: none;

  &.success {

    input {
      @include sucess-error();
    }

   textarea {
    @include sucess-error();
    }
  }

  &.error {

    input {
      @include sucess-error($atarashii-gakko-error);
    }

    textarea {
      @include sucess-error($atarashii-gakko-error);
    }
  }

  &:hover input {
    opacity: .5;
  }

  &:hover textarea {
    opacity: .5;
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 5%;
  font-family: $atarashii-gakko-font-family-lato;
  font-size: 1.05rem;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid $atarashii-gakko-black;

  &:focus {
    color: $atarashii-gakko-black;
    outline: none;
    opacity:.5;
  }
}

.form-control textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 15vh;
  padding-bottom: 5%;
  font-family: $atarashii-gakko-font-family-lato;
  font-size: 1.05rem;
  font-weight: 600;
  resize: vertical;
  border: none;
  border-bottom: 2px solid $atarashii-gakko-black;

  &:focus{
    color: $atarashii-gakko-black;
    outline: none;
    opacity:.5;
  }
}

.form-control small {
  position: $atarashii-gakko-position-absolute;
  right: 0;
  bottom: -6px;
  color: $atarashii-gakko-error;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.btn {
  padding: 12px 22px;
  margin-top: 2vh;

  &:hover {
    opacity:.75;
  }
}

/* Media queries */
@media (max-width: $atarashii-gakko-tablet) {

  .atarashi-members-left {
    position: relative;
    width: 100vw;
  }

  .atarashi-members-left > img {
    width: 100vw;
    height: 65vh;
    object-position: top;
  }

  .form-fields {
    left: 0;
    width: 100vw;
    min-height: $atarashii-gakko-auto;
    background: #ffffffde;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .form-fields form {
    width: 85vw;
    padding-top: 11vh;
    padding-bottom: 10vh;
  }
}

@media (max-width: $atarashii-gakko-phone){

  form {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .form-fields form .form-control {
    padding-bottom: 6%;
  }

  .btn {
    width: 85vw;
    margin-top: 2vh;
  }
}



.container-form{
  width: 100vw;
  height:auto;
  background-image:url("../images/bg-contact.jpg");
  background-size:cover;
}
.form-control {
 background-color: rgba(255, 255, 255, 0);
}
input, textarea{
  background-color: #f4f4f400;
}



.button{
  top: 2vh;
  font-size: 13px;
  margin: 0;
  left: auto;
  cursor: pointer;
  position: relative;
  border: none;
  box-sizing: border-box;
  padding: 0 40px;
  line-height: 48px;
  transition: 0.1s ease-in-out;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  background: #d35064;
  color: white;

  &:hover {
    background: white;
    color: #d35064;
  }
}

input, .form-control textarea{
  font-family: "open sans";
}


/* Footer */
footer {
  position:relative;
  z-index: 10;
  width: 100vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  color: white;
  background-color: black;
}

.footer-form {
  display: flex;
  width: 90vw;
  margin: 0 auto;
}

.footer-form-flex {
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-form-flex a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #d35064;
  }
}

.footer-form-flex img {
  width: 11rem;
  filter: invert(100%);

  &:hover{
    filter: invert(.7);
  }
}

.footer-form-flex:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.footer-form-flex ul {
  padding-left: 0;
  margin-bottom: 0rem;
  text-align: center;
}

.footer-form-flex:nth-child(2) ul li {
  display: inline-block;
  font-size: 1.05rem;
  color: white;

  &::after {
    margin-right: 6px;
    margin-left: 10px;
    color: white;
    content: "|";
  }

  &:last-child::after {
    margin-right: 0px;
    content: "";
  }
}

.footer-form-flex:last-child ul {
  text-align: right;
}

.footer-form-flex:last-child ul li {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
  color: white;
 
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  a{
    font-size: 1.3rem;
  }
}

/* Media queries footer */
@media (max-width: 1100px) {
  .footer-form {
    display: block;
  }

  .footer-form-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer-form-flex img {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .footer-form-flex:nth-child(2) {
    width: 100%;
    padding-bottom: 0;
    padding-top: 1rem;
}
  .footer-form-flex:nth-child(3) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: $afv-media-tablet) {

  footer {
    padding-top: 22px;
    padding-bottom: 16px;
    text-align: center;

    .footer-form .footer-right {
      float:none;
      
      p {
        line-height: 3.5rem;
      }
    }
  }
}

@media (max-width: $afv-media-phone){

  footer .footer-form .footer-left ul li {
    line-height: 4rem;

    &::after {
      margin-right: 1px;
      margin-left: 6px;
    }
  }
}
