@use "sass:color";

$atarashii-gakko-corporate-color: #6ad0ff;
$atarashii-gakko-corporate-color-2: #ffffff38;
$atarashii-gakko-black: #000000;
$atarashii-gakko-white: #ffffff;
$atarashii-gakko-error: #e74c3c;

$atarashii-gakko-lightness: color.scale($atarashii-gakko-corporate-color, $lightness: 5%);
$atarashii-gakko-lightness-2: color.scale($atarashii-gakko-black, $lightness: 10%);

$atarashii-gakko-font-family-lato: "Lato", Arial, sans-serif;
$atarashii-gakko-font-family-apercu: "Apercu", Arial, sans-serif;
$atarashii-gakko-font-family-holtwood: "Holtwood One SC", Arial, serif;

$atarashii-gakko-transition-1: 1s;
$atarashii-gakko-transition-03: .3s;
$atarashii-gakko-transition-04: .4s;

$atarashii-gakko-tablet: 768px;
$atarashii-gakko-phone: 567px;

$atarashii-gakko-auto: auto;
$atarashii-gakko-position-absolute: absolute;
$atarashii-gakko-border-bottom: 2px solid $atarashii-gakko-corporate-color-2;
$atarashii-gakko-filter-invert: invert(100%);

$carrousel-with: 100%,3;
$carrousel-bottom: calc(6vh - 2%);

@mixin sucess-error($color: #2ecc71) {
  border-color: $color;
}

// Bootstrap overwrites
// Button component
$btn-border-radius: 0rem;
$btn-font-size: 1.15rem;

// Tooltip
$tooltip-color:#000000;
$tooltip-bg: #ffffff;

// Modal component
$modal-content-border-width: 0px;

// Card
$card-bg: $atarashii-gakko-lightness-2;
$card-border-radius: 4px;




$afv-corporate-color: #191919;
$afv-color-black: #000000;
$afv-color-white: #ffffff;
$afv-color-hover: #ffffffb3;
$afv-color-error: #e74c3c;

$afv-lightness: color.scale($afv-color-black, $lightness: 40%);
$afv-lightness-2: color.scale($afv-color-black, $lightness: 50%);

$afv-font-family: "Open sans",  Arial, sans-serif;

$afv-transition: .4s;

$afv-media-tablet: 768px;
$afv-media-phone: 567px;

$afv-margin-auto: 0 auto;
$afv-border-bottom: 2px solid;
$afv-header-height: 4.4rem;
$slider-with:100%/6;

@mixin sucess-error($afv-sucess-error-color: #2ecc71) {
  border-color: $afv-sucess-error-color;
}